.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 0;
}

.node {
  height: 25px;
  width: auto;
  background: #4444442e;
  margin: 2px;
  border-radius: 0px;
}

.active {
  background: #f11414;
  transition: transform 0.1s;
}

.active:hover {
  cursor: pointer;
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.main-container {
  width: fit-content;
  height: fit-content;
  display: flex;

  margin: auto;
  height: 100%;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .sector {
    margin-right: 16px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .body {
    padding: 16px !important;
  }
  .container {
    justify-content: center;
    .node {
    }
  }
}
